<div align="center" class="rainbow">
	<h1><a class="rainbow" href="/search?artist=<%= @artist %>"><%= @artist_pretty %></a></h1>
	<iframe width="0" height="0" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//<%= @soundcloud_uri.gsub(/https:\/\//,'') %>&amp;auto_play=true&amp;hide_related=false&amp;visual=false"></iframe>
</div>
<div align='center' class="button">
		<%= button_to 'Try Again?', redirect_to: :back, :class => 'button' %>
</div>
